<header class="px-2 clearfix">
  <a href="#" id="scroll" style="display: none;"><span></span></a>
  <a href="/" id="homelogo" class="logo" style="position: fixed; top: 1em; left: 1em; display: none;">
    <img src="/uploads/bb.png"></a>
  <div class="left py-1 mt-lg-0" style="font-size: xx-large;width: auto;height: auto;">
    <a class="ml-2 align-middle link-primary link-main-page desktop-element" href="/">
      Brice Bai
    </a>
    <a href="/" id="homelogo" class="mobile-element">
      <img src="/uploads/bb.png" style="max-width: 1.3em;height: auto;" class="align-middle">
    </a>
  </div>
  
  <div class="right align-middle" style="width: auto;">
    <ul class="header-nav mt-2 mb-2 mb-lg-1 py-1"> 
      <li>
        <a class="align-middle link-primary header-link" href="http://bricebai.com/about">About</a>
      </li>     
      <li>
        <a class="align-middle link-primary header-link" href="/uploads/Brice Bai_Resume.pdf">Resume</a>
      </li>
      <li>
        <a class="align-middle link-primary header-link" href="http://bricebai.com/etc">Etc.</a>
      </li>      
    </ul>
  </div>
</header>
