---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 py-2">
    <div style="display: flex;flex-wrap: wrap;">
      <p style="width: 25em; margin-top: 1em;">
        I'm a UX designer based in Seattle, Washington with an affinity for discovering hidden customer needs and 
        transforming them into clever solutions. Currently, I'm on the AWS Support team at Amazon where I focus on 
        cloud optimization support products used by 5,000+ enterprise customers and 26,000+ internal users. 
        <br><br>
        While my career in design began at Amazon, my love for the field began at Yale, where I pursued a joint art 
        and computer science degree. I've now cultivated diverse experiences ranging from B2B SaaS products, video 
        room platforms, to VR simulations.
      </p>
      <img src="http://bricebai.com/uploads/BRICE.jpg" alt="aboutpic" style="max-width: 20em;margin-left: 2em;">
    </div>

    <p style = "margin-top: 1em;">
      Beyond UX, I’m an artist and storyteller at heart. A dance studio is my second home, where aerial arts 
      and ballet keep me off my feet. I'm also always looking for great dessert spots in Seattle. Give me your recs!
    </p>

    <p>I’ve always considered a personal website as your digital house on the world wide web—a house that anyone can walk into, 
      has as many rooms as you want, and rolls up the interior decor in cascading style sheets. I welcome you into my home 
      on this corner of the internet, but please make sure to take your shoes off. :)
      <br>
    </p>
    
    <p>Let’s get in touch if you have a project / collaboration in mind, or if you'd like a coffee chat. ☕️<br><br></p>

    <h6>🔗 <a href="https://www.linkedin.com/in/bricebai/">LinkedIn</a> &ensp; ✉️ bricebai23@gmail.com<br></h6>

  </div>
</article>
