---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 py-2">
    <div style="display: grid;grid-template-columns: 40% 47%;grid-column-gap: 20px;">
      <p>I’m an undergrad at Yale University (‘22) studying Computing and the Arts, a joint computer science and art major. 
      This summer, I will be joining Amazon as a UX/UI Design Intern.

      <br><br>I’ve always loved exploring how to create meaningful experiences, whether it be through interactive storytelling 
      or product development. This combined with my background in computer science and art has led me to become passionate 
      about product, user experience, and design.</p>

      <p align="center">
      <img src="http://bricebai.com/uploads/BRICE.JPG" alt="aboutpic" width="500px">&nbsp;
      </p>
    </div>
    
    <p>When I’m not designing, coding, or serving as VP of <a href="https://uxsocietyyale.org/">UXSociety at Yale</a> 
    you can find me dancing to kpop with Yale Movement, doodling cartoons, and penny boarding down the street.</p>
    
    <p>Let’s get in touch if you have a project or collaboration in mind. :)</p>

    


    <h6><a href="https://www.linkedin.com/in/bricebai/">LinkedIn</a> / brice.bai@yale.edu<br></h6>

  </div>
</article>
