---
layout: default
---
 <div class="card container mx-auto px-2 mb-4 clearfix header-text">
          
      <div class="subheader mt-1 py-2">
        <h2 class="mt-4" style="font-family: 'univers_45_lightregular';">Side projects, graphic design, digital illustrations, traditional art, et cetera...</h2>
        
      </div>

    </div>
                                                                            
    <div class="mx-auto mb-0 clearfix header-text">
      
      
      
      
      <!--      Doodle4Google --><div class="card grid">
         <div class="one ml-4 mt-3 mb-3" style="padding: 60px 0px; margin: auto auto auto 128px; width: 50%;">
          <p style="margin-top: 0;">
            <a href="/d4g"><img src="/uploads/d4g_logo_stroke.png" alt="d4g" style="max-width:300px;"></a>
          </p>
          <h5 style="">Feb 2017</h5><br>
           <p style="">
             The 2017 State Winner of Ohio for Google's Doodle4Google logo contest. 
             Inspired by the year's theme: "What I see for the future..."
              <br>
              <br>
              <button onclick="window.location.href = 'https://bricebai.com/d4g';" class="h6">Read more &gt;</button>
              <br>
              <br>
              <small class="h6" style="font-weight:400;">
                <b class="boldbasier">Tools</b> &nbsp;&nbsp;&nbsp;Photoshop, Manga Studio 5<br>
                <b class="boldbasier">Skills</b> &nbsp;&nbsp;&nbsp;Logo Design, Digital Illustration
              </small>
           </p>
        </div>
        
        <div class="two" style="display: flex; align-items: center;">
           <a href="/d4g"><img src="/uploads/d4g_home_thumbnail.png" alt="d4g" style="max-width:100%;"></a>
        </div></div><!--white margin-->
      <div class="grid" style="background-color: white;">
        <div class="one mt-3">
          <br>
        </div>
      </div>
      

      
        <br> 
      </div>
