---
layout: default
---
<div>
  <img style="max-width: 100%" src="/uploads/hd_block1.png" alt="">
</div>
<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <h1 class="h0 py-4 mt-3">{{ page.title }}</h1>
  </header>
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="prose mb-2 py-4">
    <h1 id="homepage-ui-redesign">Homepage UI Redesign</h1>

<p><strong>Duration</strong> &nbsp;&nbsp;&nbsp;Summer 2019</p>

<p><strong>Tools</strong> &nbsp;&nbsp;&nbsp;Figma, Photoshop</p>

<p><strong>Key Skills</strong> &nbsp;&nbsp;&nbsp;UI, Conversion Optimization</p> 
    
<p><strong>The Team</strong>
  <br>
  The main team consisted of six people, and each primarily focused on product marketing. 
  The software development team for HiveDesk was based in GlowTouch’s India office. 
  I mainly shared my progress with the co-founder of HiveDesk and one of the product marketers.
  In the end, I let both the marketing and engineering teams make the final calls for my designs.
    </p>
    
<p><strong>Background</strong>
  <br>
  HiveDesk is a B2B SaaS product that tracks remote worker productivity by taking random automated 
  screenshots of workers’ screens. It has a customer base in the hundreds and is managed by a small 
  team in GlowTouch Technologies, a technology company based in Louisville, Kentucky. As a summer 
  2019 intern at GlowTouch, I had the opportunity to assist with the product marketing and management of HiveDesk.
  I was primarily responsible for implementing UI/UX design changes to their website.
 </p>

          </div></article>
    <div style="background-color: #f05a1a;">
      <article class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-4 py-4">

          <h2 style="color:white;">The Problem</h2>

          <p style="color:white;"><strong>HiveDesk has been stagnating in customer growth for over a year.</strong> 
            How can we increase the number of product downloads? How can we encourage customers to try out the product?</p>

          <h2 style="color:white;">The Solution</h2>

          <p style="color:white;"><strong>Use small and easy-to-implement UI/UX techniques that influence users 
            to move beyond the homepage and to the free trial download page. </strong>
            I redesigned the homepage with the intention of increasing user conversions and free trial downloads using
            low effort and high impact design decisions.</p>
      </div></article>
    </div>

<article class="container mx-auto px-2 mt2 mb4">
<div class="prose mb-4 pb-4">

<h2 id="observations-and-research">Observations and Research</h2>
  
<p>The marketing team presented me with some data via Hotjar regarding the website's 1.7% CTR from homepage to free trial page
  as well as the number of users who scrolled all the way down the homepage funnel. <strong>Given such low rates, I was tasked
  to increase them through UI changes.</strong></p>
  
  <p>I was also provided websites (<a href="https://smallbusiness.patriotsoftware.com/managing-remote-teams-challenges-solutions/">1</a>, <a href="https://remote.co/qa-leading-remote-companies/what-were-your-biggest-fears-in-managing-remote-workers/">2</a>, <a href="https://remote.co/qa-leading-remote-companies/what-were-your-biggest-fears-in-managing-remote-workers/">3</a>) 
    containing information on the challenges and fears from companies who hire remote workers. 
    Looking through these sources, a few common pain types stood out to me:</p>
  
  <p><img src="/uploads/hd_painpoints.png" alt=""></p>
  <p><strong>I saw opportunities for the HiveDesk tool to resolve these pain points, 
    so I wanted to design the homepage to target and convince the customer that HiveDesk could relieve their fears.</strong></p>

<p>This is the old, original HiveDesk homepage:</p>

<p><img src="/uploads/hivedesk%20old.png" alt=""></p>

<p>I analyzed this version of the homepage and used various psychological and marketing techniques outlined by psychologist <a href="https://www.nickkolenda.com/my-guides/">Nick Kolenda</a>. A couple of factors immediately stuck out to me that could be changed:</p>

<ul>
  <li><strong>Less is more—the overall amount of information on the page should be reduced to increase the user’s focus on the primary goal</strong></li>
  <li><strong>Attention needs to be more easily directed to the call-to-action, especially at the top of the funnel</strong></li>
</ul>


    
    </div></article>
<div>
<div style="background-color: #f05a1a;">
<article class="container mx-auto px-2 mt2 mb4">
<div class="prose mb-4 py-4">
    
<h2 style="color:white;">Goals</h2>

<ul style="color:white;">
    <li>Reduction to increase user focus</li>
    <li>More emphasis on the call-to-action</li>
    <li>More appeals to relieve the fears of the target users</li>
</ul>

</div></article>
</div>

<article class="container mx-auto px-2 mt2 mb4">
<div class="prose mb-4 pb-4">
<h2 id="features-and-prototyping">Features and Prototyping</h2>

<p><img src="/uploads/hd_type%20and%20color.png" alt=""></p>
  </div></article>
  
<div style="text-align: center;">
  <p><img style="max-width: 90%;" src="/uploads/hd_flows.png" alt=""></p>
</div>
  
<div style="text-align: center;">
  <p><img style="max-width: 90%;" src="/uploads/hd_wireframe_redesign.png" alt=""></p>
</div>
  
  <br><br>
  
<article class="container mx-auto px-2 mt2 mb4">
<div class="prose mb-4 pb-4">
<p><img src="/uploads/hd_final.png" alt=""></p>

<p>Since the marketing and development teams mainly wanted to incorporate small, low-effort UI changes to the homepage, 
  my redesign was not fully implemented by the end of my time at GlowTouch. 
  The compromise was that my design decisions such as the reduction of links in the top navigation bar, the repeating of the CTA button at the top of the page, 
  and the removal of the extraneous blocks of descriptive text were made. I described conducting these design decisions to the marketing and development teams,
  and they were successfully adjusted.</p>
    </div></article>

<div>
<div>
<div style="background-color: #f05a1a;">
<article class="container mx-auto px-2 mt2 mb4">
<div class="prose mb-4 py-4">
    


<p style="color:white;"><strong>As a result, the CTR from homepage to free-trial-page increased from 1.7% to 2.1%–approximately, a 24% increase</strong>.</p>
    


</div></article>
    </div>
</div>
    
</div>


<article class="container mx-auto px-2 mt2 mb4">
<div class="prose mb-4 pb-4">
<h2 id="results-and-learnings">Results and Learnings</h2>

<p>Redesigning the homepage showed me how just a few simple changes could be the deciding factor in whether a user chooses to try out a product or not. If the user cannot be properly convinced to use the product, it will struggle to gain more users.</p>

  <p><strong>In the future, I would like to conduct more user testing.</strong> One thing I would like to A/B test is the opening headline and header image that the user first sees 
  upon homepage arrival. The original homepage had a headline that described what the product itself was and had a header
  image of the product’s dashboard pages in the background. I intentionally chose a headline that focused on the target 
  user’s expected desires and chose a header image that would direct attention to the CTA button. 
  Gathering data on whether these changes actually increased conversion rates would provide stronger support 
  for their implementation.</p>
  
  <p><strong>Another design decision I would like to consider is including more highlights or descriptions of the product features.</strong>
    The team I was working on mainly wanted to use testimonials to build credibility and relieve customer fears, 
    which is why I focused on including blocks with this information, but I would also want to test if including a
    block highlighting a feature or two would encourage users to continue down the landing page funnel.</p>
  
  <p><strong>Finally, I would consider experimenting with the color palette more in order to create more accessible design.</strong> 
    I would consider using a contrasting color against the orange and see if it meets accessibility standard.</p>

  </div>
  Go back to <a href="/#portfolio">all of my work</a>, or check out:
    <br>
    <li><a href="/xing">X.ing</a></li>
    <li><a href="/sleeptight">Sleep Tight</a></li>
    <li><a href="/nova">Nova</a></li>
    <li><a href="/d4g">Doodle 4 Google Logo</a></li>
</article>
