<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background mb-0">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-0 clearfix header-text">
          <h1 class="h0 inline-block col-9 sm-width-full py-3 mt-3 header-title">{{ site.title }}</h1>

          <div class="subheader mb-2 py-2">
            <p>Student at Yale University studying Computing and the Arts. 
              <br>Specializing in UI/UX, product design, and impactful digital experiences. 
              <br>Learn more <a href ="/about">about me</a> or scroll down to see some of my work. :)
            </p>
          </div>
        
          
          <div class="clearfix mb-2 py-2">
            <div class="col-6 sm-width-full left border-top-thin">
            
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-2">
                <a href = "https://www.linkedin.com/in/bricebai/">LinkedIn</a> // <a href = "https://www.behance.net/bricebai">Behance</a>
                 // brice.bai@yale.edu
              </p>
            </div>
                        
          </div>

        </div>
      </header>

    </div>
    
    <div class="container mx-auto px-2 mt-4 mb-0 clearfix header-text">
      <div class="grid">
        <div class="one">
        <h1><b>HiveDesk</b></h1><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A UI redesign for the homepage of SaaS product HiveDesk, aiming to direct user flow and increase CTR from homepage to free trial download page.<br>
        <br>
          <small><i>Tools: Figma, Photoshop</i></small><br>
        </div>
        
         <div class="two">
           <img src="/uploads/wix thumbnail.png" alt="hivedesk" style="max-width:100%;">
        </div><br>
        
      </div>
    </div>

    
    {% include footer.html %}
  </body>

</html>
