<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <a name="top"></a>
<div>

      <header class="header-background mb-0">
        <a href="#" id="scroll" style="display: none;"><span></span></a>
     <div class="clearfix header-border">
          <div class="left sm-width-full py-1 mt-1 mt-lg-0" style="font-size: xx-large;">
            <a class="ml-3 align-middle link-primary link-main-page" href="/">
              Brice Bai
            </a>
          </div>

        <div class="clearfix header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            
            
           <li class="inline-block">
              <a class="align-middle link-primary header-link mr-2" href="/about">About</a>
            </li>
            <li class="inline-block">
              <a class="align-middle link-primary header-link mr-2" href="/uploads/Brice Bai_Resume.pdf">Resume</a>
            </li>
            <li class="inline-block">
              <a class="align-middle link-primary header-link mr-2" href="#portfolio">Portfolio</a>
            </li>
            
            
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-4 clearfix header-text">
          

          <div class="subheader mt-1 mb-2 py-2" style="font-weight:300;">
            <h3 class="mt-4">Computing and the Arts Major at Yale University ('22).
              <br>Interested in product, design, UI/UX, and creating impactful digital experiences. 
              <br>Learn more <a href="/about">about me</a> or scroll down to see my work. :)
            </h3>
          </div>
        
          
          <div class="clearfix mb-2 py-2">
            <div class="col-6 sm-width-full left">
            
              <!-- Set site description in config.yml -->
              <p class="h6 lh-condensed font-smoothing mt-2 py-2" style="font-weight: 500;">
                <a href="https://www.linkedin.com/in/bricebai/">LinkedIn</a>  /  <a href="https://www.behance.net/bricebai">Behance</a>
                  /  brice.bai@yale.edu
              </p>
            </div>
                        
          </div>

        </div>
      </div></header>

    </div>
    
    <div id = "portfolio" class="mx-auto mb-0 clearfix header-text">
      
      <!--HiveDesk -->
      <div class="grid" style="margin-bottom: -24px; background-color: #f05a1a;">
        <div class="one mt-3 mb-3" style="margin: auto auto auto 128px; width: 50%;">
          <p style="margin-top: 0">
            <a href="/hivedesk"><img src="/uploads/hd_logo.png" alt="hivedesk" style="max-width:300px;"></a>
          </p>
          <h5>Summer 2019</h5><br>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A UI redesign for the homepage of SaaS product HiveDesk, aiming to direct user flow and increase CTR from homepage to free trial download page.
          <br>
          <br>
          <a href = "/hivedesk" class="h6" style="font-weight:400; text-decoration-color: black;">Read more ></a>
          <br>
          <br>
          <small class="h6" style="font-weight:400;"><b>Tools</b> &nbsp;&nbsp;&nbsp;Figma, Photoshop<br><b>Skills</b> &nbsp;&nbsp;&nbsp;UI, Conversion Optimization</small>
        </div>
        
         <div class="two">
           <a href = "/hivedesk"><img src="/uploads/hivedesk_home_thumbnail.png" alt="hivedesk" style="max-width:100%;"></a>
        </div><br>
      </div> 
      
      
      <!--X.ing -->
      <div class="grid" style="margin-bottom: -30px; background-color: #B5ABF4;">
         <div class="one mt-3 mb-3" style="margin: auto auto auto 128px; width: 50%;">
          <p style="margin-top: 0">
            <a href="/xing"><img src="/uploads/xing_logo.png" alt="xing" style="max-width:300px;"></a>
          </p>
          <h5>December 2018 - May 2019</h5><br>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A skincare venture originally designed as a 3-step product line that pivoted into a social platform dedicated to help users navigate the confusing skincare landscape while creating connections among skincare enthusiasts.
          <br>
          <br>
          <a href = "/xing" class="h6" style="font-weight:400; text-decoration-color: black;">Read more ></a>
          <br>
          <br>
          <small class="h6" style="font-weight:400;"><b>Tools</b> &nbsp;&nbsp;&nbsp;Figma<br><b>Skills</b> &nbsp;&nbsp;&nbsp;Project Management, Skincare Product Development, UI/UX, Mobile App Prototyping, User Research</small>
        </div>
        
        <div class="two">
           <a href = "/xing"><img src="/uploads/xing_home_thumbnail.png" alt="xing" style="max-width:100%;"></a>
        </div><br>
      </div>
      
      
      <!--sleep tight -->
      <div class="grid" style="background-color: #001253; margin-bottom: -24px;">
         <div class="one mt-4 mb-3" style="margin: auto auto auto 128px; width: 50%;">
          <p style="margin-top: 0">
            <a href="/sleeptight"><img src="/uploads/sleep_logo.png" alt="sleeptight_logo" style="max-width:300px;"></a>
          </p>
          <h5 style="color:white">December 2019</h5><br>
           <p style="color:white">
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A mobile app prototype focused on long-term sleep improvement.
             Inspired by a cognitive science course I took called “The Mystery of Sleep”.
           </p>
          <br>
          <br>
          <a href = "/sleeptight" class="h6" style="font-weight:400; color:white; text-decoration-color: white;">Read more ></a>
          <br>
          <br>
          <small class="h6" style="font-weight:400; color:white;"><b>Tools</b> &nbsp;&nbsp;&nbsp;Figma<br><b>Skills</b> &nbsp;&nbsp;&nbsp;UI/UX, Mobile App Prototyping, User Research</small>
        </div>
        
        <div class="two">
           <a href = "/sleeptight"><img src="/uploads/sleep_home_thumbnail.png" alt="sleeptight" style="max-width:100%;"></a>
        </div><br>
      </div>
      
      
      <!--Nova -->
      <div class="grid" style="background-color: #B3C890; margin-bottom: -30px;">
         <div class="one ml-4 mt-3 mb-3" style="margin: auto auto auto 128px; width: 50%;">
          <p style="margin-top: 0">
            <a href="/nova"><img src="/uploads/nova_logo.png" alt="nova" style="max-width:300px;"></a>
          </p>
          <h5>January 2014 - June 2018</h5><br>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A free, fantasy visual novel indie game passion project. Made with an international online team that I led and found off a DeviantArt forum.
          <br>
          <br>
          <a href = "/nova" class="h6" style="font-weight:400; text-decoration-color: black;">Read more ></a>
          <br>
          <br>
           <small class="h6" style="font-weight:400;"><b>Roles</b> &nbsp;&nbsp;&nbsp;Founder, Project Manager, Writer, Social Media Manager<br><b>Skills</b> &nbsp;&nbsp;&nbsp;Project Management, Creative Writing, Cross-functional Teamwork, UX</small>
        </div>
        
        <div class="two">
           <a href = "/nova"><img src="/uploads/nova_home_thumbnail.png" alt="nova" style="max-width:100%;"></a>
        </div><br>
      </div>
      
      
      <!--Doodle4Google -->
      <div class="grid" style="background-color: #0025AA; margin-bottom: -24px;">
         <div class="one ml-4 mt-3 mb-3" style="margin: auto auto auto 128px; width: 50%;">
          <p style="margin-top: 0;">
            <a href="/d4g"><img src="/uploads/d4g_logo_stroke.png" alt="d4g" style="max-width:300px;"></a>
          </p>
          <h5 style="color:white">February 2017</h5><br>
           <p style="color:white">
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The 2017 State Winner of Ohio for Google's Doodle4Google logo contest. 
             Inspired by the year's theme: "What I see for the future..."
              <br>
              <br>
              <a href = "/d4g" class="h6" style="font-weight:400; text-decoration-color: white;">Read more ></a>
              <br>
              <br>
              <small class="h6" style="font-weight:400;">
                <b>Tools</b> &nbsp;&nbsp;&nbsp;Photoshop, Manga Studio 5<br><b>Skills</b> &nbsp;&nbsp;&nbsp;Logo Design, Digital Illustration
              </small>
           </p>
        </div>
        
        <div class="two">
           <a href = "/d4g"><img src="/uploads/d4g_home_thumbnail.png" alt="d4g" style="max-width:100%;"></a>
        </div><br>
        
      </div>
    </div>
    

    
    {% include footer.html %}
  </body>

</html>
