---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <h1 class="h0 py-4 mt-3">{{ page.title }}</h1>
  </header>
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="prose mb-4 py-4">
    {{ content }}
    <iframe style="border: none;" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F740E4HfxK12Hw5aBVIhiQz%2FX.ing%3Fnode-id%3D4%253A0%26scaling%3Dscale-down" allowfullscreen></iframe>
  </div>
</article>
