---
layout: default
---

<div>
  <img style="max-width: 100%" src="/uploads/thesis_banner.png" alt="">
</div>

<a id="toggle" href="javascript:showhide('menu')" class="section-nav w-button w--current" style="color: black; font-weight: bold; position: fixed; top: 5em; text-align: right; width: auto; display: none;">SHOW / HIDE</a>

<div id="menu" style="opacity: 1; display: none;" class="section-nav w-clearfix">
  <a href="#intro" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">Background &amp; Context</a>
  <a href="#problem" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">The Problem</a>
  <a href="#solution" class="section-links solution w-button" style="color: rgb(179, 180, 186);">Proposed Solution</a>
  <a href="#research" class="section-links research w-button" style="color: rgb(179, 180, 186);">Observations &amp; Research</a>
  <a href="#goals" class="section-links goals w-button" style="color: rgb(179, 180, 186);">The Goals</a>
  <a href="#decisions" class="section-links design w-button" style="color: rgb(179, 180, 186);">Design Decisions</a><a href="#process" class="section-links design w-button" style="color: rgb(179, 180, 186);">Process &amp; Style</a>
  <a href="#results" class="section-links results w-button" style="color: rgb(179, 180, 186);">Results &amp; Reflection</a>
  <a href="#future" class="section-links future w-button" style="color: rgb(179, 180, 186);">Future Directions</a>
</div>

<article class="container mx-auto px-2 py-4">
  <div class="prose">
    <h1 id="intro">Concrete Wheelchair Interface in VR</h1>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;">
      <div><h6>Duration</h6>Sept 2021 – May 2022</div>
      <div><h6>Tools</h6>Unity, Shapr3D, Meta Quest 2</div>
      <div><h6>Key Skills</h6>Accessibility design, Design systems, 3D modeling, Unity</div> 
      <div><h6>The Team</h6>Justin Berry (PI),
Yetsa Tuakli-Wosornu,
Johannes Sieberer,
Marjelle Scheffers,
Veronica Weser,
James Nikkel,
Tian Wang, 
Alara Degirmenci
</div>
    </div>
    <br><br>
    <p style="margin-bottom:3em;">People’s perceptions of and ability to interact with their environment, whether physical or virtual, are not universally the same. Their bodies grant them varying experiences, but how can someone with any range of mobility achieve different or new experiences? My senior thesis under the Computing and the Arts major was an exploration of the built environment in virtual reality (VR) and the way that people navigate through it. I joined the Center for Collaborative Arts and Media’s (CCAM) Wheelchair Interface Project in order to investigate how wheelchair-bound users in particular may navigate through virtual worlds and whether their behavior calls for a new interactive interface that will improve user experiences not only for them, but for all VR users.</p>
    <div class="case-heading" id="problem">
      <h5 class="case-subhead">The Problem</h5>
      <h3>How can we help users of ranging abilities intuitively navigate virtual environments?</h3>
    </div>

  </div>
</article>
    
<div id="solution" style="
    color: white;
    background-color: #001253;
    background-image: url(uploads/thesis_overlay.png), linear-gradient(rgba(133, 192, 222, 1), rgba(183, 193, 90, 1));
    background-size: cover;
    ">
  <article class="container mx-auto px-2 mb-4 py-4">
  <div class="prose">
    <div class="case-heading">
      <h5 class="case-subhead" style="color:white;" "="">The Solution</h5>
      <h3 style="color:white;">Create an interface and design system inspired by how wheelchair users respond to the world that promotes empathy-building for people with disabilities and can improve current common VR interface design patterns as well.</h3>
    </div>
    
<a href="#decisions" style="text-decoration-color: white;"><h6 style="color:white;text-align: center;">Jump to final design decisions ↓</h6></a></div></article>
</div>

<article id="research" class="container mx-auto px-2 mb-4">
  <div class="prose">

    <div class="case-heading">
      <h5 class="case-subhead">Research</h5>
      <h2>We must rethink how virtual worlds can be experienced, especially for users that may not be given the attention to accessibility that they need.</h2>
    </div>  

    <p>In particular we are designing for:
    <br>
</p>
    <img alt="" src="/uploads/thesis_personas.png" style="max-width: 100%;"> 

    <p>Taking inspiration from these different personas’ needs will not only improve experiences for them, but also give all users of varying levels of mobility new opportunities.</p>

    
     

    <p>If we analyze how users utilize VR, we can identify the current issues at hand:</p>
    <ol>
        <li>VR is a concrete medium that currently relies on abstract interfaces that don’t align with the physical interface.</li>
        <li>Limited types of physical controllers/interfaces that provide unideal, less immersive navigation</li>
        <li>Lack of systems for creators to translate accessible experiences from real world to VR. It is uncommon to find easily accessible empathy-building experiences related to disability</li>
    </ol>

    </div></article>

<div>
  <div id="goals" style="
    color: white;
    background-color: #001253;
    background-image: url(uploads/thesis_overlay.png), linear-gradient(rgba(133, 192, 222, 1), rgba(183, 193, 90, 1));
    background-size: cover;
    " class="py-4 mb-4">
  <article class="container mx-auto px-2">
    <div class="case-heading">
      <h5 class="case-subhead" style="color:white;" "="">Goals</h5>
      <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;margin-top: 1em;">
      <p>Improve current common VR interface design patterns for ALL</p>
      <p>Design a system that allows anyone to create experiences with the interface</p>
      <p>Create a more intuitive and fun application of physical therapy</p>
      <p>Promote empathy-building for people with disabilities</p>
    </div>
   
  </div>

</article>
</div>

  <article class="container mx-auto px-2 mt-2 mb-4" id="decisions">

    <div class="case-heading">
      <h5 class="case-subhead">Decision 1</h5>
      <h2>Designing a modular block system</h2>
    </div>

    <div class="mb-4" style="display: flex; flex-wrap: wrap;">
    
    <div style="margin-left: 1em; margin-right: 1em;">
        <img alt="" src="/uploads/thesis_decision1.png" style="max-width: 20em;">
         <p style="font-family: basier_circle_monoregular">GOALS ADDRESSED:</p>
    
    <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;width: 100%;grid-column-gap: 1em;grid-row-gap: 1em; margin-right: 1em;">
      <p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">2
    </p>
        
    </div>
    
</div><p style="max-width: 25em;margin-left: 1em;">One beneficial application of investigating how wheelchair-bound users navigate and interact with the built environment is for physical therapy. I envisioned creating a method where therapists could easily create their own therapeutic, accessible environments for patients. 
    <br><br>This involved creating a design system of simple, modular units that could be used to create different common built structures and environmental features. With the assistance of Alara Degirmenci, we developed the instructions for what could exist in the system, with guidelines on the color palette, block style, and block sizing. We further specified our sizing requirements by incorporating various ADA and architectural codes into some modular units such as for road tiles, handrails, and ramp slopes.

    <br><br>With the design language established and in use, I 3D-modeled various basic objects with Shapr3D, an iPad 3D-modeling app.

 </p>
        

   
  </div>

    <div class="case-heading">
      <h5 class="case-subhead">Decision 2</h5>
      <h2>Rapid prototyping in Unity</h2>
    </div>
    <div class="mb-4" style="display: flex; flex-wrap: wrap;">
    <div style="margin-left: 1em; margin-right: 1em;">
        <img alt="" src="/uploads/thesis_decision2.png" style="max-width: 20em;">
         <p style="font-family: basier_circle_monoregular">GOALS ADDRESSED:</p>
    
    <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;width: 100%;grid-column-gap: 1em;grid-row-gap: 1em; margin-right: 1em;">
      <p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">2
    </p>
        
    <p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">3
    </p></div>
    
</div>
    <p style="max-width: 25em;margin-left: 1em;">The next step was to create the playground setting with the modular units in action. This was done in Unity utilizing the Verb Collective to manage the interactions with the environmental objects. The Verb Collective, originally made by Justin Berry, is an example of such an asset. It is a rapid prototyping tool that is easily customizable, designed for collaboration, and allows non-experts and experts alike to quickly develop interactions based on a series of different verbs that trigger according to different states. Each verb is a script that may be attached to objects in Unity and can trigger other verbs or objects. <br><br>
Although no coding is necessary for people to use the Verb Collective, developers can create custom verbs that fit their project and also add to the collection. My addition to the Verb Collective was through four scripts—to pulse, to recolor, to change gravitate, and to gradient color. Each script had the purpose of providing small, delightful feedback to the interactions that the user would take in the environment.
</p>
  </div>
    

    <div class="case-heading">
      <h5 class="case-subhead">Decision 3</h5>
      <h2>A whimsical, functional virtual world</h2>
    </div>
    <div class="mb-4" style="display: flex; flex-wrap: wrap;">
    <div style="margin-left: 1em; margin-right: 1em;">
        <img style="max-width: 20em;margin-bottom: 1em;" alt="" src="/uploads/thesis_decision3.png">
         <p style="font-family: basier_circle_monoregular">GOALS ADDRESSED:</p>
    
    <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;width: 100%;grid-column-gap: 1em;grid-row-gap: 1em; margin-right: 1em;">
      <p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">2
    </p>
        
    <p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">3
    </p><p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">4
    </p></div>
    
</div>
    <div style="max-width: 25em;margin-left: 1em;">
        <p>Creating a joyful but function environment was critical to making users receptive to try the experience. I placed clear instructions in the initial screen, platforms and paths to encourage exercises/activities, and created a comforting environment with mountains, warm lighting, ambient sound. <br><br>
Examples of different stations that assessed the user’s mobility and coordination:
        </p>
        <ul style="max-width: 25em;margin-left: 1em;">
        <li>Travel on a straight path and up a slight incline</li>
        <li>Push knobs to make balls fall and push them through a hollow arch</li>
        <li>Rod grabbing and placement</li>
        <li>Horseshoe grabbing from high position</li>
        <li>Ball grabbing to throw at disks far away</li>
        <li>Hitting arches</li>
        <li>Slaloming</li>
    </ul><br>
    
   
</div>
  </div>

    <div class="case-heading">
      <h5 class="case-subhead">Decision 4</h5>
      <h2>Connecting the wheelchair with minimal guidance</h2>
    </div>
    
    <div class="mb-4" style="display: flex; flex-wrap: wrap;">
    <div style="margin-left: 1em; margin-right: 1em;">
        <img style="max-width: 20em;margin-bottom: 1em;" alt="" src="/uploads/thesis_decision4.png">
         <p style="font-family: basier_circle_monoregular">GOALS ADDRESSED:</p>
    
    <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;width: 100%;grid-column-gap: 1em;grid-row-gap: 1em; margin-right: 1em;">
      <p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">1
    </p>
        
    <p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">3
    </p><p style="background-color: inherit;border-radius: 12px;padding: 14px 28px;border: 0.1rem solid lightgray;font-family: basier_circle_monoregular;max-width: 20em;">4
    </p></div>
    
</div>
    <p style="max-width: 25em;margin-left: 1em;">My thesis exhibition presented the full experience of sitting in the stationary wheelchair, strapping on the headset, and traveling through my world. I let people explore the world with minimal instruction and also allowed adjustments to the speed of wheelchair movement in VR to help prevent potential nausea. <br><br>

Moving was simple and intuitive – all anyone had to do was roll the wheels of the wheelchair to move, as they would in real life.
</p>
  </div></article>

  <article id="process" class="container mx-auto px-2 ">
    <div class="prose">
    <div class="case-heading">
      <h5 class="case-subhead">Process + style</h5>
      <h2>Design System</h2>
    </div>
      <p><img src="/uploads/thesis_designsystem.png" alt=""></p><h2>Activites and Final World in VR</h2>
    </div>
  </article>
  

  




  
  

<img src="/uploads/thesis_activites.png" alt="" style="max-width: 100%;"><img src="/uploads/thesis_final.png" alt="" style="max-width: 100%; margin-bottom: 4em;">


<div id="results" style="background-color: #f05a1a; background-image: url(/uploads/hd_overlay.png); background-size: contain;">
  
</div>
      
     


<article class="container mx-auto px-2 mb-4">
  <div class="prose">
    <div class="case-heading">
      <h5 class="case-subhead">Results</h5>
      <h2>Wonderment, intuitive navigation, and newfound empathy</h2>
    </div>

    <p>Guests at the exhibition expressed wonderment and joy through my project. Most notably, they experienced:</p><ul>
        <li>Very joyful, child-like wonder reawakened in exploring</li>
        <li>Ease of navigation with the wheelchair, an intuitive interface even for non-regular-wheelchair-users</li>
        <li>New sense of empathy for wheelchair users after facing some struggles in navigation</li>
    </ul>
    <p>While some users faced technical difficulties in resetting the world or getting stuck in some places in VR, all greatly appreciated experiencing this new method of navigating through a virtual environment.</p>
    
    <br>
</div>
</article>

<div id="goals" style="
    color: white;
    background-color: #001253;
    background-image: url(uploads/thesis_overlay.png), linear-gradient(rgba(133, 192, 222, 1), rgba(183, 193, 90, 1));
    background-size: cover;
    " class="py-4 mb-4">
  <article class="container mx-auto px-2">
    <div class="case-heading">
      <h5 class="case-subhead" style="color:white;" "="">Key Learnings</h5>
      <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;margin-top: 1em;">
      <p>We are world building in our designs, literally and figuratively</p>
      <p>Systems must be simple and scalable, like building blocks</p>
      <p>An experience is not limited to the screen</p>
      <p>Disability does not imply inability</p>
    </div>   
  </div>
</article>
</div>

  <article class="container mx-auto px-2 mb-4" id="future">
    <div class="prose">
    <div class="case-heading">
      <h5 class="case-subhead">Future</h5>
      <div style="margin-top:1em;">
        <p>This project has led me to create an adaptable, dynamic foundation for people to easily and quickly prototype environments in VR for creative expression or for therapeutic purposes. The design system helps create a cohesive, playful environment, but also follows real-world conventions in regards to ADA-accessible building code which helps builders make worlds that can match what can be found in the physical environment as well. As a result, I set up a framework that has room for growth but is already capable of being applied to many different use cases.</p>
      <p>In the future, we may consider:</p>
      <ul>
          <li>Introducing gestural functions</li>
          <li>Increased motorized feedback from prototype</li>
          <li>Providing a formal guide for educators and therapists</li>
          <li>(far future) Training for athletes, eSports, Paralympics, etc.</li>
      </ul>
    </div>
    </div>
    
</div>
  </article>

<article class="container mx-auto px-2 mb-4">
    <div class="case-heading">
      <h5 class="case-subhead">Let's Go</h5>
        <div style="width: 100%;margin-top: 1em;">
          Back to <a href="/#portfolio">all of my work</a>, or check out:
            <br>
            <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));width: 100%;grid-column-gap: 2em;">
              <h3><a href="/awsworkflowgenerator">AWS Workflow Generator</a></h3>
      <h3><a href="/aws2020">Amazon Internship</a></h3>
            </div>
          </div>
        </div>
</article>
