---
layout: default
---

<article class="mx-auto px-2 mt2 mb4" style="max-width: 80em;">
  <div class="mb-4 py-2">
    <p style="text-align:center;">
      Samples of digital textbook designs created in 2022 and 2024 for Professor Angela Lee-Smith's 
      advanced-level Korean language classes at Yale, where the curriculum centers around a Korean drama for the semester. 
      I created cover art and lesson templates.
    </p>
    <p style="text-align:center;margin-bottom: 4em;"><a style="text-align: center;margin-bottom: 4em;" href="/etc">Back to etc.</a></p>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;align-items: center;">    
      
      
      <a href="#img1"> 
        <img src="/uploads/yale_korean_txtbk_1.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img1">
        <img src="/uploads/yale_korean_txtbk_1.png" class="gallery">
      </a>
      
      <a href="#img2"> 
        <img src="/uploads/yale_korean_txtbk_2.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img2">
        <img src="/uploads/yale_korean_txtbk_2.png" class="gallery">
      </a>
      
      <a href="#img3"> 
        <img src="/uploads/yale_korean_txtbk_3.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img3">
        <img src="/uploads/yale_korean_txtbk_3.png" class="gallery">
      </a>
      
      <a href="#img4"> 
        <img src="/uploads/yale_korean_txtbk_4.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img4">
        <img src="/uploads/yale_korean_txtbk_4.png" class="gallery">
      </a>
      
      <a href="#img5"> 
        <img src="/uploads/yale_korean_txtbk_5.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img5">
        <img src="/uploads/yale_korean_txtbk_5.png" class="gallery">
      </a>
      
      <a href="#img6"> 
        <img src="/uploads/yale_korean_txtbk_6.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img6">
        <img src="/uploads/yale_korean_txtbk_6.png" class="gallery">
      </a>
      
      <a href="#img7"> 
        <img src="/uploads/yale_korean_txtbk_7.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img7">
        <img src="/uploads/yale_korean_txtbk_7.png" class="gallery">
      </a>
      
      <a href="#img8"> 
        <img src="/uploads/yale_korean_txtbk_8.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img8">
        <img src="/uploads/yale_korean_txtbk_8.png" class="gallery">
      </a>
    
    </div>
  </div>    
</article>
